includeConfig 'conf/modules.config'
params {
    short_raw_reads = [[[id:'SHAM1'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_SHAM1_day21_biol_rep_1.fastq.gz']],
        [[id:'SHAM2'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_SHAM2_day21_biol_rep_2.fastq.gz']],
        [[id:'SHAM3'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_SHAM3_day21_biol_rep_3.fastq.gz']],
        [[id:'UUO4'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_UUO4_day21_biol_rep_1.fastq.gz']],
        [[id:'UUO5'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_UUO5_day21_biol_rep_2.fastq.gz']],
        [[id:'UUO6'],['/home/nihar.lakhe/nihar/Nihar_git/RNA_SEQ/input_data/short_reads/short_UUO6_day21_biol_rep_3.fastq.gz']]]
}